header{
    background-color: #f1f1f1;
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20px;
    
    
} 

li a {
    display:inline-block;
    color:#000;
    padding: 16px 16px;
    text-decoration: none;
}
li a:hover{
    color: white;
    background-color: #555;

}


.ftr{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20px;
}